<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>User Page</title>

    <style>
        nav .nav-link {
            color: darkgrey;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div>
        <b class="text-white ms-3"><span th:text="${man.email}"></span></b>
        <simple class="text-white">with roles:</simple>
        <simple class="text-white">
            <span th:text="${man.roles}">     </span>
        </simple>
    </div>
    <a class="nav-link" href="/logout">Logout</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0 mt-2">
            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <div sec:authorize="hasAuthority('ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">
                        <div sec:authorize="hasAuthority('ADMIN')">
                            Admin
                        </div>
                    </a>
                </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link active" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                       aria-controls="v-pills-user" aria-selected="false">
                        <div sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
                            User
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-10 bg-light vh-100">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                    <div sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
                        <h1 class="h1">User information-page</h1>
                        <div class="card">
                            <h5 class="card-header">About user</h5>
                            <div class="card-body">
                                <div class="container-fluid">
                                    <table class="table table-striped" id="tableID">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Surname</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Roles</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="id"></td>
                                                <td id="name"></td>
                                                <td id="surname"></td>
                                                <td id="age"></td>
                                                <td id="email"></td>
                                                <td id="roles"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/main.js"></script>

</body>
</html>
